/node_modules/
/.git/
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
/.vscode/
/.idea/
.idea/
.vscode/
.git/
.push.sh
.DS_Store
Thumbs.db

# dependencies
/node_modules
/.pnp
.pnp.js
/dist
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.env

/atom-sftp-sync.json
/atom-sftp-sync-dev.json
